### Seleção Cientista de Dados Projeto BigDataFortaleza

Neste projeto, você trabalhará com uma versão levemente modificada dos dados
coletados pelo Departamento de Polícia de Seattle e disponibilizados publicamente em
seu próprio site [1]. Os dados para a prova estão no arquivo Use_Of_Force.csv (disponível em: [2]).

Contexto
Para facilitar a administração, o Departamento de Polícia de Seattle dividiu a cidade em 5 partes, cada uma com uma delegacia. Cada parte foi subdividida em setores, que por sua vez foram divididos em beats, somando um total de 17 setores e 51 beats (mais detalhes em [3]).

Suponha que você esteja fazendo uma consultoria para a prefeitura de Seattle com o objetivo de automatizar o processo de geração de relatórios. Sua responsabilidade atual é lidar com dados que caracterizam o uso da força por parte da polícia.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df = pd.read_csv('Use_Of_Force.csv')

In [3]:
df.head()

,ID,Incident_Num,Incident_Type,Occured_date_time,Precinct,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender
0,2014UOF-0001-1377-203,251,Level 1 - Use of Force,06/07/2014 12:09:00 AM,East,CHARLIE,C2,1594,203,Black or African American,Male
1,2014UOF-0002-1098-166,218,Level 1 - Use of Force,05/30/2014 02:06:00 PM,East,GEORGE,G1,1673,166,White,Male
2,2014UOF-0003-1031-125,178,Level 1 - Use of Force,05/23/2014 05:24:00 PM,West,KING,K3,1690,125,Asian,Female
3,2014UOF-0004-767-126,179,Level 1 - Use of Force,05/26/2014 12:10:00 AM,East,EDWARD,E2,953,126,Black or African American,Male
4,2014UOF-0005-1473-172,223,Level 1 - Use of Force,06/01/2014 04:03:00 PM,South,ROBERT,R1,1145,172,Black or African American,Male

In [4]:
date_col = pd.DatetimeIndex(df['Occured_date_time'])

In [5]:
df['Year'] = date_col.year

In [6]:
df['Month'] = date_col.month

In [7]:
df['Day'] = date_col.day

In [15]:
df.head(2)

,ID,Incident_Num,Incident_Type,Occured_date_time,Precinct,Sector,Beat,Officer_ID,Subject_ID,Subject_Race,Subject_Gender,Year,Month,Day
0,2014UOF-0001-1377-203,251,Level 1 - Use of Force,06/07/2014 12:09:00 AM,East,CHARLIE,C2,1594,203,Black or African American,Male,2014,6,7
1,2014UOF-0002-1098-166,218,Level 1 - Use of Force,05/30/2014 02:06:00 PM,East,GEORGE,G1,1673,166,White,Male,2014,5,30

In [9]:
#df['Occured_date_time'] = pd.to_datetime(df['Occured_date_time'], format= '%m-%d-%Y %H:%M:%S', utc=True)

In [10]:
#date_col = pd.Datetime.strftime(df['Occured_date_time'])

In [11]:
#df['Occured_date_time'] = pd.to_datetime(df['Occured_date_time'], format='%H:%M:%S').dt.time

In [12]:
#hora = datetime.strftime( obj, "%H")

In [13]:
date_col1 = pd.datetime.strftime(df['Occured_date_time'])

/var/folders/8v/_48t0wh14vd4x9s__v5p78t40000gn/T/ipykernel_3153/1990292882.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  date_col1 = pd.datetime.strftime(df['Occured_date_time'])

TypeError: descriptor 'strftime' for 'datetime.date' objects doesn't apply to a 'Series' object